:root {
  --primary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-dark: #2F303A;
  --background-light: #F5F4FA ;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background: #ffffff;
  color: #212121;
  }

ul {
  list-style: none;
}
/* Хедер */
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-color-header {
  color: #212121;
}
.logo-color-footer {
  color: var(--white-text-color);
}
.section-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link {
  color: #212121;
  text-decoration: none; 
  }
.adress-link {
  color: var(--primary-text-color);
  text-decoration: none;
  }
.adress-link:hover,
.adress-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* Секция герой */
.section-hero {
  color: var(--white-text-color);
  font-style: normal;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero-title {
  background: var(--background-dark);
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  text-transform: uppercase;
}
.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
  
}
/* Секция особенности */
.section-features-title {
  color: var(--white-text-color);
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  }
.features-text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  }
/* Секция "Чем мы занимаемся" */
.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
/* Секция "Наша команда" */
.section-team {
  background: var(--background-light);
}
.team-item {
  background: #ffffff;
  letter-spacing: 0.03em;
  
  font-size: 16px;
  line-height: 1.19;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  }
.team-profession {
  color: var(--primary-text-color);
  text-align: center;
}
/* Футер */
.footer {
  background: var(--background-dark);
}
.footer-adr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white-text-color);
  text-decoration: none;
}
.footer-mail-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/* Портфолио */
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background: var(--background-light);
  cursor: pointer;
}
.button:active,
.button:hover {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  }
.portfolio {
  color:  var(--white-text-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  text-align: left;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);